body {
    background: radial-gradient(#1a2234, #030407 70%) fixed;
    padding-top: 150px;
    overflow-x: hidden;
    overflow-y: initial;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

input[type="text"] {
    box-shadow: 0 15px 50px black;
}

.frame {
    border: 1px solid white;
    padding: 50px;
}

.center-items > * {
    margin: 0;
    place-self: center;
    text-align: center;
}

.btn-clear {
    color: white;
    border: 1px solid white;
}

.btn-clear:hover {
    color: black;
    background: white;
}

.nav-link {
    opacity: 0.8;
}

.nav-link:hover {
    opacity: 1;
}

.movie-cards {
    display: flex;
    gap: 50px;
}

.card {
    transition: all 0.1s ease-out;
    border-radius: 15px;
}

.poster {
    border-radius: 15px 15px 0 0;
}

.card:hover {
    width: 600px !important;
    transform: scale(1.02);
    box-shadow: 0 0 100px #000;
    z-index: 1000;
}

.carousel-cards {
    height: 450px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 70px;
    gap: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carousel-cards::-webkit-scrollbar {
    display: none;
}

.carousel-card {
    transition: 0.05s ease-out, transform 0s;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: clip;
}

.carousel-card:hover {
    transform: none !important;
    scale: 1.1 !important;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
}

.carousel-card > a > img {
    height: 100%;
}

.movie-presentation-card {
    border-radius: 25px;
}

.movie-presentation-card > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    height: 32px;
}

.header {
    height: 80px;
    backdrop-filter: blur(50px) brightness(0.5);
}

#scroll-to-top {
    position: fixed;
    z-index: 9999;
    width: 150px;
    top: calc(50% - 150px / 2);
    rotate: -90deg;
    border-radius: 25px;
    padding-bottom: 7px;
    text-align: center;
    border: 1px solid white;
    background: black;
    color: white;
    box-shadow: 0 0 40px black;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#scroll-to-top:hover {
    background: white;
    color: black;
}