* {
    color: red;
    font-family: monospace;
    margin: 0;
}

body {
    background: black;
    overflow: hidden;
}

#timer {
    font-size: 18px;
    word-break: break-all;
    transform: rotate(-3deg) scale(500%);
}